################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests/Player.Test/obj
/Services/Player/Services.ProductAPI/bin/*
/Services/Player/Services.ProductAPI/obj/*
/Tests/Player.Test/bin/Debug/*
/.vs/PlayerServiceExercise

/Services/Player/Services.PlayerAPI/bin/Debug/net6.0
